@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica-255/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica-255/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica-255/Helvetica-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica-255/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: oblique;
}
@font-face {
  font-family: 'Gotham';
      src: url('/fonts/gotham/Gotham-Book.otf') format('opentype');
      font-weight: 400;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/Gotham-Medium.ttf') format('truetype');
      font-weight: 500;
}


@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
